<section class="films">
  <div class="films__container">
    <ul class="films__grid">
      <li class="films__grid-item"></li>
      <li class="films__grid-item"></li>
      <li class="films__grid-item"></li>
      <li class="films__grid-item"></li>
      <li class="films__grid-item"></li>
      <li class="films__grid-item"></li>
      <li class="films__grid-item"></li>
      <li class="films__grid-item"></li>
      <li class="films__grid-item"></li>
      <li class="films__grid-item"></li>
      <li class="films__grid-item"></li>
      <li class="films__grid-item"></li>
    </ul>
  </div>
</section>
