<section class="films">
  <div class="container">
    <ul class="grid">
      <!-- <li class="grid__item"></li>
      <li class="grid__item"></li>
      <li class="grid__item"></li>
      <li class="grid__item"></li>
      <li class="grid__item"></li>
      <li class="grid__item"></li>
      <li class="grid__item"></li>
      <li class="grid__item"></li>
      <li class="grid__item"></li>
      <li class="grid__item"></li>
      <li class="grid__item"></li>
      <li class="grid__item"></li> -->
    </ul>
  </div>
</section>
