<div class="filter is-hidden">
  <div class="filter__container">
    <button class="filter__button" type="button">X</button>
    <legend class="filter__group">Media type</legend>
    <div class="filter__media">
      <label class="filter__item"
        ><input
          id="movie"
          type="checkbox"
          value="movie"
          name="media-type"
          class="filter__genres-check"
        />Movie</label
      >
      <label class="filter__item"
        ><input
          id="tv"
          type="checkbox"
          value="tv"
          name="media-type"
          class="filter__genres-check"
        />Series</label
      >
    </div>
    <legend class="filter__group">Genres</legend>
    <div class="filter__genres"></div>
  </div>
</div>
