<footer id="footer" class="footer">
  <div class="footer__container">
    <button id="footer__button" class="footer__button">
      <svg class="footer__button-icon" width="22 " height="22">
        <use href="./images/icons.svg#icon-circle-up"></use>
      </svg>
      <!-- <svg class="icon icon-circle-down hidden" width="22" height="22">
        <use href="./images/icons.svg#icon-circle-down"></use>
      </svg> -->
    </button>
    &#9415; 2023All Rights Reserved Developed with &#129505; by
    <span class="footer-modal">GoIT Students</span>
  </div>
</footer>

<script type="module" src="./js/footer.js"></script>
