<button id="toggle-footer" class="open">
  <svg class="icon icon-circle-up" width="40" height="40">
    <use href="./images/icons.svg#icon-circle-up"></use>
  </svg>
  <svg class="icon icon-circle-down hidden" width="40" height="40">
    <use href="./images/icons.svg#icon-circle-down"></use>
  </svg>
</button>

<footer id="footer" class="footer hidden">
  <!-- NIE UZYWAJ WATCH SASS! Pracuj TYLKO na pliku na ktorym masz pracowac! Jesli potrzebujesz zmienic
  cos w innym pliku skontaktuj sie z osoba odpowiedzialna za dany plik albo Team Leaderem lub Scrum
  Masterem. -->

  <div class="footer__container">
    <p>&#9415; 2020</p>
    <p>All Rights Reserved</p>
    <p>Developed with &#129505;</p>
    <p>by <span class="footer__container--modal">GoIT Students</span></p>
  </div>
</footer>

<script src="js/footer.js"></script>
