<header class="header">
  <div class="header__wrapper">
    <a class="header__logo" href="./index.html">
      <svg class="header__logo--svg" width="24px" height="24px">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    <p class="header__logo--title">Filmoteka</p>
    </a>
      <ul class="header__nav header__nav--list">
       <li>
        <a class="header__nav header__nav--list-item header__is-on" href="./index.html">HOME</a>
       </li> 
       <li>
        <a class="header__nav header__nav--list-item">MY LIBRARY</a>
       </li> 
      <li class="" id="logIn">
        <button class="btn" type="button" id="open-modal-btn">&#128526; LOG IN</button>
      </li>
      <li class="is-hidden" id="logOut">
        <button class="btn" type="button">&#128682; LOG OUT</button>
      </li>
      </ul>
  </div>


<!-- THEME -->

<div class="theme">
  <input type="checkbox" class="checkbox" id="chk" />
  <label class="label" for="chk">
    <i class="fas fa-moon"></i>
    <i class="fas fa-sun"></i>
    <div class="orb"></div>
  </label>
</div>

<!-- THEME END -->

    <div class="header__search">
    <form class="header__search-form" id="search-form">
      <input
            type="text"
            name="searchQuery"
            autocomplete="off"
            placeholder="Movie search"
      >
      <button class="header__search-button" type="submit">
        <svg class="header__search-icon" width="12px" height="12px">
          <use href="./images/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    </div>
</header>

<!-- STICKY HEADER -->

<header class="js-header__sticky header__sticky">
  <div class="header__sticky__container">
    <a class="header__sticky__logo" href="./index.html">
      <svg class="header__sticky__logo--svg" width="24px" height="24px">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
      <p class="header__sticky__logo--title">Filmoteka</p>
    </a>

    <form class="header__sticky__search-form">

    <input 
    class="header__sticky__input" 
    type="text" 
    name="searchQuery" 
    autocomplete="off" 
    placeholder="Movie search">

    <button class="header__sticky__search-button" type="submit">
      <svg class="header__sticky__search-icon" width="12px" height="12px">
        <use href="./images/icons.svg#icon-search"></use>
      </svg>
    </button>
  </form>

  <ul class="header__sticky__nav">
    <li class="header__sticky__nav--item">
      <a class="header__sticky__nav header__sticky__nav--item header__sticky__is-on" href="./index.html">HOME</a>
    </li>
    <li class="header__sticky__nav--item">
      <a class="header__sticky__nav">MY LIBRARY</a>
    </li>
    
    <!-- LOG IN LOG OUT -->

    <li class="" id="logIn">
      <button class="btn" type="button" id="open-modal-btn">&#128526; LOG IN</button>
    </li>
    <li class="is-hidden" id="logOut">
      <button class="btn" type="button">&#128682; LOG OUT</button>
    </li>

<!-- LOG IN LOG OUT END -->

  </ul>
  </div>
  <script src="./js/stickyHeader.js"></script>
</header>

<!-- STICKY HEADER END -->

<!-- <script src=".js/stickyHeader.js"></script> -->

    <body>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, nam doloribus! Ipsam expedita modi, sint error
        sit totam aspernatur animi cum et veritatis esse assumenda molestiae sed quos a tempora, possimus, repellat debitis
        facere. Ducimus necessitatibus labore odit dolorem hic perspiciatis, quasi placeat porro, quia animi molestias non
        maxime! Aliquid maxime est eaque. Esse, nihil? Odio, qui sed quos mollitia ab aperiam ea maiores, consequuntur
        voluptatum blanditiis quam, atque inventore fugiat. Ipsa dolorum, beatae deserunt suscipit dignissimos vel
        voluptates quod saepe tempora facere tenetur recusandae esse unde, fugit harum adipisci itaque accusantium officia
        rerum nostrum dolorem corrupti fuga, debitis blanditiis. A aliquam molestiae necessitatibus nobis aperiam commodi
        saepe? Quo corporis, veritatis sit dolores exercitationem unde officia in? Odit, quam? Omnis hic quo unde
        consectetur quod reiciendis similique praesentium facilis ipsum, numquam libero sapiente aspernatur alias. Quisquam
        provident ullam, soluta nihil asperiores nulla eius, porro omnis ad accusamus quos commodi tempore maxime quibusdam
        a, quis distinctio! Eveniet velit nostrum eum incidunt ad atque, voluptatem et perspiciatis quia error sapiente.
        Similique, expedita. Commodi ratione saepe similique doloremque minima ex voluptatibus aut itaque, porro maiores
        nihil officiis molestiae. Quas minus fuga fugiat esse ut tenetur fugit cum facilis reprehenderit eveniet omnis quam
        quidem natus inventore totam odio expedita amet quaerat, veritatis sit sunt nobis quod necessitatibus! Cupiditate
        officia delectus fugiat, iusto libero deleniti? Non, pariatur atque sint consectetur porro, aperiam doloremque optio
        adipisci natus enim magnam vel minus nihil corrupti ipsa delectus minima qui quo amet quia unde dignissimos. Eos
        architecto beatae possimus quae deleniti mollitia, qui et, vitae autem maiores, in tempora. Facilis pariatur dicta
        eos harum, temporibus iste ad, porro, maxime molestias quos perferendis ut accusantium enim corrupti quidem!
        Blanditiis obcaecati eaque numquam quibusdam excepturi aut impedit quam fugiat totam minima quis, alias enim est,
        hic natus ut accusamus odio? Molestias officiis beatae ipsam dolorum architecto animi? Assumenda expedita debitis
        beatae, tempora deserunt rem, eveniet numquam veritatis aperiam necessitatibus exercitationem earum. Consectetur
        libero officiis commodi fuga temporibus aliquid perspiciatis aspernatur hic, sequi ipsam, dolorum tenetur quasi ad
        assumenda. Rerum nemo iure corrupti, non voluptatum dolorem in eos explicabo labore laudantium reprehenderit
        necessitatibus voluptates temporibus culpa pariatur, ullam architecto expedita? Ad nisi sit fuga cumque magnam ipsa
        necessitatibus in aliquam porro rerum impedit exercitationem illum dolorem illo a expedita explicabo voluptas,
        facere voluptatem labore recusandae dignissimos officiis quae? Fuga ea illum at, temporibus reprehenderit
        voluptatibus impedit ducimus eligendi modi pariatur magnam blanditiis necessitatibus qui incidunt ipsa illo ad
        aliquam tempore quaerat explicabo! Sunt ea minus iste fugiat odit et delectus ullam voluptas dolor sequi corrupti
        neque similique, cum eaque soluta porro, cupiditate tempore repellendus laboriosam illum, hic debitis laudantium. Ab
        corporis facere harum at ex adipisci, autem eligendi ad minus sequi molestiae impedit quo quaerat soluta
        exercitationem sapiente ea quisquam cumque laudantium voluptatem iure excepturi error molestias aliquid! Soluta unde
        nisi sunt at tempore praesentium ipsam eligendi eveniet repellendus commodi explicabo, rem, consequatur ut corrupti
        esse placeat recusandae sit quaerat dicta cupiditate odit quis dolore! Hic nesciunt perspiciatis exercitationem,
        libero quidem ipsam voluptates quod aliquid in quasi dignissimos fugit doloribus minus similique. Hic voluptate
        delectus ducimus sit impedit fuga cupiditate, quis quasi totam amet voluptatibus commodi quia consequatur sint
        labore quidem dolores. Voluptas, laudantium laboriosam sed eius adipisci aut quos velit! Id modi quisquam cumque.
        Esse, delectus a suscipit cumque at nostrum consectetur exercitationem sint ipsa. Provident saepe rem animi dolorem
        placeat odit, repellendus suscipit iste, odio reiciendis voluptate incidunt perspiciatis, fugit temporibus? Sunt
        sint nesciunt eius rerum maiores ratione quaerat facilis. Rerum dicta dolorem illum, qui cupiditate animi dolorum
        assumenda voluptatem doloribus ad cum est quaerat quibusdam optio soluta laudantium unde ratione distinctio adipisci
        labore, aliquam iure, impedit molestias libero? Nobis, est dolorum ut voluptatum delectus assumenda? Nostrum
        explicabo voluptatem minima saepe cum tempora quas nam sint dolor laborum, iusto id, debitis distinctio esse magni
        impedit, pariatur similique consectetur necessitatibus delectus ratione mollitia cumque officia. Maxime commodi ea
        incidunt nam molestias tempore ipsa, omnis dicta voluptas animi saepe est, et corporis tempora neque cupiditate ab
        perferendis sequi, temporibus impedit distinctio sit recusandae! Natus assumenda velit est in expedita quisquam
        necessitatibus commodi molestiae dolores earum sunt facere quae voluptate placeat a porro distinctio debitis
        laboriosam, cupiditate dignissimos tempora ab nostrum! Molestiae rerum laboriosam libero vero eius placeat a illo
        voluptate assumenda repellendus culpa quaerat magni numquam possimus molestias, illum explicabo, expedita iusto
        porro alias ea excepturi repellat saepe error? Qui dolorem quo sunt laudantium tempore. Qui corrupti voluptatum ad,
        possimus quos dignissimos aperiam molestias necessitatibus officiis mollitia, consequuntur dolorem id, similique at
        ea totam illum perferendis sequi architecto quod tempore asperiores animi suscipit. Aspernatur, perferendis rem?
        Vero, dolores laboriosam, amet sunt quam rerum nulla numquam, eos veniam inventore non. Aspernatur quaerat ex maxime
        ipsam asperiores iusto laudantium qui, nobis, eligendi consectetur tempore pariatur deserunt praesentium aliquid
        aperiam rerum. Accusamus rerum in est ea? Corporis, quam recusandae voluptatem voluptates libero consectetur animi.
        Ullam, ex molestias totam suscipit esse sit provident libero nobis placeat officia. Sint optio maiores
        necessitatibus odit minima, in natus consectetur aut. Consectetur aliquam provident unde quaerat magni, iste tempora
        voluptatem ullam quibusdam officiis hic commodi dignissimos dicta sunt error. Accusamus atque suscipit assumenda
        perferendis accusantium repellat, quam eos possimus eum dicta blanditiis, iure laborum at reprehenderit doloribus
        cum labore dolores ratione incidunt dolor. Rem deserunt similique, impedit veniam error asperiores facere rerum unde
        accusamus illum ullam, repellat, totam qui tenetur minima sunt expedita laudantium deleniti vero? Vitae quaerat
        praesentium odio illum quae dolore alias tempore. Vero, dolores velit exercitationem provident fuga fugiat. Quis
        incidunt harum recusandae quaerat quas ipsam aspernatur sed, ea 
      </p>
    </body>