<div class="backdrop is-hidden" data-modal>
  <div class="modal-film">
    <button class="modal-film__close-btn" type="button" data-modal-close>
      <svg class="modal-film__close-btn-svg">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-film__poster" id="movie-poster">
      <img class="modal-film__img" src="./images/no-movie.jpg" alt="title" />
    </div>
    <div class="modal-film__about">
      <h1 class="modal-film__about-title" id="movie-title">Title</h1>
      <div class="modal-film__about-info">
        <div class="modal-film__about-names">
          <p class="info-name">Vote / Votes</p>
          <p class="info-name">Popularity</p>
          <p class="info-name">Original Title</p>
          <p class="info-name">Genre</p>
        </div>
        <div class="modal-film__about-values">
          <p class="modal-film__about-values--votes">
            <span class="modal-film__about-values--avrg" id="movie-vote-avrg">vote</span>/
            <span id="movie-vote-all">votes</span>
          </p>
          <p class="info-value" id="movie-popularity">number</p>
          <p class="modal-film__about-values--title" id="movie-original-title">original-title</p>
          <p class="info-value" id="movie-genres">genres</p>
        </div>
      </div>
      <div class="modal-film__about-description">
        <h2 class="modal-film__about-description--header">About</h2>
        <p class="modal-film__about-description--text" id="movie-description">Lorem</p>
      </div>
      <ul class="modal-film__btns-list">
        <li class="modal-film__btns-list-item">
          <button class="modal-film__btn" type="button">ADD TO WATCHED</button>
        </li>
        <li class="modal-film__btns-list-item">
          <button class="modal-film__btn" type="button">ADD TO QUEUE</button>
        </li>
      </ul>
    </div>
  </div>
</div>
