<section>
  <div class="backdrop">
    <div id="modal" class="modal">
      <span class="close">&times;</span>
      <div class="modal-content">
        <!-- <h2>Nasz TEAM</h2> -->
        <ul class="modal__team-management">
          <li class="modal__team-item">
            <img src="images/red_curtain.jpg" alt="" width="80" height="80" />
            <p>Mateusz Malicki <span class="deco"></span></p>
          </li>
          <li class="modal__team-item">
            <img src="images/red_curtain.jpg" alt="" width="80" height="80" />
            <p>Krzysztof Kryczka <span class="deco"></span></p>
          </li>
        </ul>

        <ul class="modal__team-list">
          <li class="modal__team-item">
            <img src="images/red_curtain.jpg" alt="" width="80" height="80" />
            <p>Anna Sosik</p>
          </li>
          <li class="modal__team-item">
            <img src="images/red_curtain.jpg" alt="" width="80" height="80" />
            <p>Arleta Janysz</p>
          </li>
          <li class="modal__team-item">
            <img src="images/red_curtain.jpg" alt="" width="80" height="80" />
            <p>Dagmara Szadkowska</p>
          </li>
          <li class="modal__team-item">
            <img src="images/red_curtain.jpg" alt="" width="80" height="80" />
            <p>Dariusz Cedro</p>
          </li>
          <li class="modal__team-item">
            <img src="images/red_curtain.jpg" alt="" width="80" height="80" />
            <p>Joanna Matwiej</p>
          </li>
          <li class="modal__team-item">
            <img src="images/red_curtain.jpg" alt="" width="80" height="80" />
            <p>Karolina Kaczorowska</p>
          </li>
          <li class="modal__team-item">
            <img src="images/red_curtain.jpg" alt="" width="80" height="80" />
            <p>Małgorzata Kuszewska</p>
          </li>
          <li class="modal__team-item">
            <img src="images/red_curtain.jpg" alt="" width="80" height="80" />
            <p>Marta Ka</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <script type="module" src="./js/modal-team.js" defer></script>
</section>
