<div class="backdrop is-hidden" data-modal>
  <div id="modal" class="modal">
    <button type="button" class="modal__close-btn" data-modal-close>
      <svg>
        <use href="./images/icons.svg#icon-cross"></use>
      </svg>
    </button>

    <div class="container">
      <h2>Nasz zespół</h2>
      <ul class="member__list">
        <div class="member__osier">
          <!-- osoba -->
          <li class="member">
            <img
              src="images/red_curtain.jpg"
              srcset="
                images/red_curtain_100px.jpg 100w,
                images/red_curtain_200px.jpg 200w,
                images/red_curtain_270px.jpg 270w
              "
              sizes="(min-width: 1200px) 270px, (min-width: 768px) 200px, (min-width: 320px) 100px , 100vw"
            />
            <div class="member__box">
              <span class="member__name">Mateusz Malicki</span>
              <span class="member__title">Team Leader</span>
              <ul class="member__socials-list">
                <li>
                  <a class="member__socials-link" href="#">
                    <svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="member__socials-link" href="#"
                    ><svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="member__socials-link" href="#"
                    ><svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <!-- osoba -->
          <li class="member">
            <img
              src="images/red_curtain.jpg"
              srcset="
                images/red_curtain_100px.jpg 100w,
                images/red_curtain_200px.jpg 200w,
                images/red_curtain_270px.jpg 270w
              "
              sizes="(min-width: 1200px) 270px, (min-width: 768px) 200px, (min-width: 320px) 100px , 100vw"
            />
            <div class="member__box">
              <span class="member__name">Krzysztof Kryczka</span>
              <span class="member__title">Scrum Master</span>
              <ul class="member__socials-list">
                <li>
                  <a class="member__socials-link" href="#">
                    <svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="member__socials-link" href="#"
                    ><svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="member__socials-link" href="#"
                    ><svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </div>

        <div class="member__sub">
          <!-- osoba -->
          <li class="member">
            <img
              src="images/red_curtain.jpg"
              srcset="
                images/red_curtain_100px.jpg 100w,
                images/red_curtain_200px.jpg 200w,
                images/red_curtain_270px.jpg 270w
              "
              sizes="(min-width: 1200px) 270px, (min-width: 768px) 200px, (min-width: 320px) 100px , 100vw"
            />
            <div class="member__box">
              <span class="member__name">Anna Sosik</span>

              <ul class="member__socials-list">
                <li>
                  <a class="member__socials-link" href="#">
                    <svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="member__socials-link" href="#"
                    ><svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="member__socials-link" href="#"
                    ><svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- osoba -->
          <li class="member">
            <img
              src="images/red_curtain.jpg"
              srcset="
                images/red_curtain_100px.jpg 100w,
                images/red_curtain_200px.jpg 200w,
                images/red_curtain_270px.jpg 270w
              "
              sizes="(min-width: 1200px) 270px, (min-width: 768px) 200px, (min-width: 320px) 100px , 100vw"
            />
            <div class="member__box">
              <span class="member__name">Arleta Janysz</span>

              <ul class="member__socials-list">
                <li>
                  <a class="member__socials-link" href="#">
                    <svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="member__socials-link" href="#"
                    ><svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="member__socials-link" href="#"
                    ><svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- osoba -->
          <li class="member">
            <img
              src="images/red_curtain.jpg"
              srcset="
                images/red_curtain_100px.jpg 100w,
                images/red_curtain_200px.jpg 200w,
                images/red_curtain_270px.jpg 270w
              "
              sizes="(min-width: 1200px) 270px, (min-width: 768px) 200px, (min-width: 320px) 100px , 100vw"
            />
            <div class="member__box">
              <span class="member__name">Dagmara Szadkowska</span>

              <ul class="member__socials-list">
                <li>
                  <a class="member__socials-link" href="#">
                    <svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="member__socials-link" href="#"
                    ><svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="member__socials-link" href="#"
                    ><svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <!-- osoba -->
          <li class="member">
            <img
              src="images/red_curtain.jpg"
              srcset="
                images/red_curtain_100px.jpg 100w,
                images/red_curtain_200px.jpg 200w,
                images/red_curtain_270px.jpg 270w
              "
              sizes="(min-width: 1200px) 270px, (min-width: 768px) 200px, (min-width: 320px) 100px , 100vw"
            />
            <div class="member__box">
              <span class="member__name">Dariusz Cedro</span>

              <ul class="member__socials-list">
                <li>
                  <a class="member__socials-link" href="#">
                    <svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="member__socials-link" href="#"
                    ><svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="member__socials-link" href="#"
                    ><svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- osoba -->
          <li class="member">
            <img
              src="images/red_curtain.jpg"
              srcset="
                images/red_curtain_100px.jpg 100w,
                images/red_curtain_200px.jpg 200w,
                images/red_curtain_270px.jpg 270w
              "
              sizes="(min-width: 1200px) 270px, (min-width: 768px) 200px, (min-width: 320px) 100px , 100vw"
            />
            <div class="member__box">
              <span class="member__name">Joanna Matwiej</span>

              <ul class="member__socials-list">
                <li>
                  <a class="member__socials-link" href="#">
                    <svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="member__socials-link" href="#"
                    ><svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="member__socials-link" href="#"
                    ><svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- osoba -->
          <li class="member">
            <img
              src="images/red_curtain.jpg"
              srcset="
                images/red_curtain_100px.jpg 100w,
                images/red_curtain_200px.jpg 200w,
                images/red_curtain_270px.jpg 270w
              "
              sizes="(min-width: 1200px) 270px, (min-width: 768px) 200px, (min-width: 320px) 100px , 100vw"
            />
            <div class="member__box">
              <span class="member__name">Karolina Kaczorowska</span>

              <ul class="member__socials-list">
                <li>
                  <a class="member__socials-link" href="#">
                    <svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="member__socials-link" href="#"
                    ><svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="member__socials-link" href="#"
                    ><svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- osoba -->
          <li class="member">
            <img
              src="images/red_curtain.jpg"
              srcset="
                images/red_curtain_100px.jpg 100w,
                images/red_curtain_200px.jpg 200w,
                images/red_curtain_270px.jpg 270w
              "
              sizes="(min-width: 1200px) 270px, (min-width: 768px) 200px, (min-width: 320px) 100px , 100vw"
            />
            <div class="member__box">
              <span class="member__name">Małgorzata Kuszewska</span>

              <ul class="member__socials-list">
                <li>
                  <a class="member__socials-link" href="#">
                    <svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="member__socials-link" href="#"
                    ><svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="member__socials-link" href="#"
                    ><svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- osoba -->
          <li class="member">
            <img
              src="images/red_curtain.jpg"
              srcset="
                images/red_curtain_100px.jpg 100w,
                images/red_curtain_200px.jpg 200w,
                images/red_curtain_270px.jpg 270w
              "
              sizes="(min-width: 1200px) 270px, (min-width: 768px) 200px, (min-width: 320px) 100px , 100vw"
            />
            <div class="member__box">
              <span class="member__name">Marta Ka</span>

              <ul class="member__socials-list">
                <li>
                  <a class="member__socials-link" href="#">
                    <svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="member__socials-link" href="#"
                    ><svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="member__socials-link" href="#"
                    ><svg class="member__socials-icon">
                      <use href="./images/icons.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>

<script src="./js/modal-team.js"></script>
