.films {
  //border: 1px dotted black;
  margin: 0 auto;
  justify-content: center;
  background-color: #ffffff;
  background-size: cover;
}

.container {
  //border: 1px solid black;
  margin: 0 auto 40px;
  padding: 20px 20px 0;
  min-width: 320px;
  max-width: 1280px;
}
.grid {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}

// .grid__item {
//   display: block;
//   background-color: red;
//   width: 100%;
//   height: 440px;
// }

@media (min-width: 768px) {
  .container {
    padding: 59px 32px 0px;
    margin-bottom: 61px;
  }

  .grid {
    gap: 32px;
  }

  .grid__item {
    flex-basis: calc((100% - 32px) / 2);
    height: 495px;
  }
}

@media (min-width: 1280px) {
  .container {
    margin-bottom: 60px;
  }

  .grid {
    gap: 16px;
  }

  .grid__item {
    flex-basis: calc((100% - 32px) / 3);
    height: 634px;
  }
}
