.filter {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.243);
  color: black;
  transition: opacity 500ms;
  padding: 10px;
  @include tablet {
    background-color: transparent;
    max-height: 250px;
    max-width: 350px;
    padding: 0;
  }
  @include desktop {
    background-color: transparent;
    max-height: 250px;
    max-width: 350px;
    padding: 0;
  }
  &__container {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid black;
    margin: 0 auto;
    background-color: #ffffffbc;
  }
  &__button {
    position: absolute;
    right: 10;
    top: 10;
    background-color: transparent;
    border: 0;
    border-radius: 10px;
    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.106);
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.106);
      box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.75) inset;
    }
    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }
  }

  &__group {
    margin: 5px 0;
    font-size: 20px;
    text-align: center;
    color: #ac1a1b;
  }

  &__genres,
  &__media {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__item {
    flex-basis: calc((100% - 10px) / 2);
    padding-left: 10px;
    display: flex;
    gap: 20px;
  }

  & .is-hidden {
    display: none;
    opacity: 0;
    transition: opacity 500ms;
  }

  &:hover {
    display: block;
  }
}

body.dark .filter__container {
  background-color: #272e34bc;
  color: white;
  border: 1px solid white;
}
