// NIE UZYWAJ WATCH SASS! Pracuj TYLKO na pliku na ktorym masz pracowac! Jesli potrzebujesz zmienic
//   cos w innym pliku skontaktuj sie z osoba odpowiedzialna za dany plik albo Team Leaderem lub Scrum
//   Masterem.

.footer {
  background-color: #f7f7f7;
  width: 100vw;
  height: 50px;
  position: fixed;
  bottom: 0;
  color: #545454;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.72;
  border-top: 1px solid black;
  transition: bottom 500ms linear;

  &.hide {
    bottom: -50;
    transition: bottom 500ms linear;
  }

  &__container {
    width: 100%;
    height: 100%;
    @include flex-center;
    gap: 5px;

    @include tablet {
      font-size: 16px;
    }

    @include desktop {
      font-size: 16px;
    }
  }
  &-modal {
    &:is(:hover, :focus) {
      font-weight: bold;
    }
  }
  &__button {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 20;
    top: -30;
    background-color: #f7f7f7;
    border: 1px solid black;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
    padding: 0;
    &-icon {
      fill: currentColor;
      transition: transform 500ms linear;
      &.flip {
        transform: rotate(180deg);
        transition: transform 500ms linear;
      }
    }
  }
}

.hidden {
  display: none;
}

// button

#toggle-footer {
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0.678), rgba(0, 0, 0, 0.822));
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, bottom 0.3s ease-in-out;
  padding: 10px;
  position: sticky;
  bottom: 15px;
  left: 25px;
  overflow: hidden;
  z-index: 1;

  &.open {
    display: block;
  }
}

.open svg {
  fill: rgb(255, 255, 255);
}
