// NIE UZYWAJ WATCH SASS! Pracuj TYLKO na pliku na ktorym masz pracowac! Jesli potrzebujesz zmienic
//   cos w innym pliku skontaktuj sie z osoba odpowiedzialna za dany plik albo Team Leaderem lub Scrum
//   Masterem.

.footer {
  background-color: #f7f7f7;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  @include flex-center;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  display: none;

  &.active {
    max-height: 100px;
    display: block;
  }

  @include tablet {
    height: 79px;
  }

  @include desktop {
    height: 77px;
  }

  &__container {
    display: flex;
    padding: 31.5px 0;
    flex-wrap: wrap;
    justify-content: center;

    & p {
      color: #545454;
      font-size: 14px;
      font-weight: 400;
      margin: 0 3px;
      line-height: 1.72;

      @include tablet {
        font-size: 16px;
      }

      @include desktop {
        font-size: 16px;
      }
    }

    & p:first-child,
    p:nth-child(2) {
      border-right: 1px solid black;
      padding-right: 5px;
    }

    &--modal {
      &:is(:hover, :focus) {
        font-weight: bold;
      }
    }
  }
}

.hidden {
  display: none;
}

// button

#toggle-footer {
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0.678), rgba(0, 0, 0, 0.822));
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, bottom 0.3s ease-in-out;
  padding: 10px;
  position: sticky;
  bottom: 15px;
  left: 25px;
  overflow: hidden;
  z-index: 1;

  &.open {
    display: block;
  }
}

.open svg {
  fill: rgb(255, 255, 255);
}
