.header {
  width: 100vw;
  color: #fff;
  background-image: url('../images/abstract-background-with-red-lines@1xmobile.jpg.jpg'),
    linear-gradient(to right, #2f303a 40%, transparent);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;

  @include tablet {
    background-image: url('../images/abstract-background-with-red-lines@1xtablet.jpg.jpg'),
      linear-gradient(to right, #2f303a 40%, transparent);
    height: 216px;
  }

  @include desktop {
    background-image: url('../images/abstract-background-with-red-lines@1xdesktop.jpg.jpg'),
      linear-gradient(to right, #2f303a 40%, transparent);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/abstract-background-with-red-lines@2xmobile.jpg.jpg'),
      linear-gradient(to right, #2f303a 40%, transparent);
    @include tablet {
      background-image: url('../images/abstract-background-with-red-lines@2xtablet.jpg.jpg'),
        linear-gradient(to right, #2f303a 40%, transparent);
    }
    @include desktop {
      background-image: url('../images/abstract-background-with-red-lines@2xdesktop.jpg.jpg'),
        linear-gradient(to right, #2f303a 40%, transparent);
    }
  }
  &__container {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    padding: 40px 32px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    @include tablet {
      margin-bottom: 5px;
    }
    @include desktop {
      margin-bottom: 5px;
    }
  }

  &__logo {
    display: flex;
    align-items: baseline;
    text-decoration: none;
    gap: 10px;
    color: #fff;
    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: orange;
    }

    &--svg {
      fill: currentColor;
    }

    &--title {
      display: none;
      font-size: 30px;
      font-weight: 500;
      line-height: 35px;

      @include tablet {
        display: flex;
      }

      @include desktop {
        display: flex;
      }
    }
  }

  &__nav {
    @include flex-center;
    gap: 10px;
    font-size: 12px;

    @include tablet {
      gap: 20px;
    }

    @include desktop {
      gap: 40px;
    }

    &-item {
      &--logIn,
      &--logOut {
        background-color: transparent;
        color: #fff;
        cursor: pointer;
        border-bottom: 0.5px solid white;
        padding: 2px;
      }
      &:hover,
      &:focus {
        color: orange;
      }
      &--is-on {
        &::after {
          width: 100%;
          content: '';
          display: block;
          height: 4px;
          border-radius: 2px;
          background: red;
        }
      }
    }
  }

  &__search {
    @include flex-center;

    &-form {
      width: 280px;
      position: relative;

      @include tablet {
        width: 330px;
      }

      @include desktop {
        width: 394px;
      }
    }
    &-input {
      background-color: transparent;
      width: 100%;
      padding-bottom: 5px;
      color: #fff;
      border: none;
      border-bottom: 0.5px solid #fff;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      transition-property: border-color;
      transition-duration: 0.25s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &::placeholder {
        color: inherit;
      }
      &:hover,
      &:focus {
        border-color: orange;
      }
    }

    &-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      position: absolute;
      right: 0;
    }

    &-icon {
      fill: currentColor;
    }
  }
  &__theme {
    position: absolute;
    right: 45;
    top: 100;
  }
  &__sticky {
    width: 100vw;
    color: #fff;
    z-index: 1;
    background-image: linear-gradient(#ff001bb3, #000000b3);
    background-position: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    animation-name: show_header;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    position: fixed;
    top: 0;
    &__container {
      max-width: 1280px;
      padding: 10px 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include tablet {
        padding: 10px 32px;
      }

      @include desktop {
        padding: 10px 32px;
      }
    }
    &-form {
      margin-right: 20px;
      width: 140px;

      @include tablet {
        width: 330px;
      }

      @include desktop {
        width: 394px;
      }
    }
  }
}
