.header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/library-bcg@1xmobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 230px;

    @include tablet {
        background-image:  linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/library-bcg@1xtablet.jpg'),
          linear-gradient(to right, #2f303a 40%, transparent);
        height: 216px;
      }
    
      @include desktop {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/library-bcg@1xdesktop.jpg'),
          linear-gradient(to right, #2f303a 40%, transparent);
      }
}

.my-library-header {
    
  &__buttons-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @include phone {
        gap: 10px;
    }

    @include tablet {
      gap: 32px;
    }
    @include desktop {
      gap: 16px;
    }

   
  }


  &__button {
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
    width: 130px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;

    min-width: 60px;

    &--current {
      background-color: #ff6b01;
      border: none;
      filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
    }

    &:hover,
    &:focus {
      color: #fff;
      box-shadow: none;
      cursor: pointer;
      background-color: #ff6b08;
      border: 1px solid #ff6b08;
    }

    @include tablet {
      min-width: 152px;
    }

    @include desktop {
      min-width: 147px;
    }

    &--sticky {
      height: 22px;

      @include phone {
        width: 69px;
      }
    }
  }



}

.header-library__sticky__nav {
    margin-left: 0;
    display: flex;
    align-items: center;
    font-size: 12px;
    list-style: none;    
    gap: 20px;

    @include phone {
        gap: 8px;
    }
}