.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: #000c;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  overflow-x: scroll;

  @include tablet {
    padding: 32px;
    padding-bottom: 0;
  }
  @include desktop {
    padding: 64px;
    padding-bottom: 0;
  }
  & .is-hidden {
    opacity: 0;
    display: none;
    pointer-events: none;
  }
}

.modal-film {
  max-width: 550px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
  color: #000;
  background-color: #fff;
  padding: 48px 20px;
  font-weight: 500;
  overflow-x: scroll;
  overflow-y: hidden;
  @include tablet {
    max-width: 900px;
    flex-wrap: nowrap;
    padding: 40px 36px;
    gap: 68px;
  }
  @include desktop {
    max-width: 1080px;
    flex-wrap: nowrap;
    padding: 40px;
    gap: 16px;
  }

  &__close-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    &-svg {
      width: 30;
      height: 30;
      stroke: currentColor;
    }
  }

  &__poster {
    border-radius: 5px;
    flex-basis: 100%;
    @include tablet {
      flex-basis: 264px;
    }
    @include desktop {
      flex-basis: 375px;
    }
  }

  &__img {
    object-fit: cover;
    width: 100%;
  }

  &__about {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    font-size: 12px;
    line-height: 16px;

    flex-basis: 100%;
    @include tablet {
      flex-basis: calc(100% - 264px - 68px);
    }
    @include desktop {
      flex-basis: calc(100% - 375px - 16px);
    }
    &-title {
      overflow-y: scroll;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 23px;
      @include desktop {
        font-size: 30px;
        line-height: 35px;
      }
    }
    &-info {
      display: flex;
    }
    &-names,
    &-values {
      display: inline-block;
      width: 50%;
    }
    &-names {
      color: #8c8c8c;
    }
    &-values {
      &--avrg {
        color: #fff;
        background-color: #ff6b01;
        border-radius: 5px;
        padding: 0 10px;
        margin-right: 4px;
      }
      &--title {
        text-transform: uppercase;
      }
    }
    &-description {
      &--header {
        text-transform: uppercase;
      }
      &--text {
        line-height: 20px;
      }
    }
  }

  &__btns-list {
    flex-wrap: nowrap;
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
    gap: 15px;
    @include desktop {
      margin-left: 18px;
    }
  }

  &__btn {
    text-align: center;
    width: 110px;
    height: 44px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid currentColor;
    border-radius: 5px;

    transition-property: background-color, color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    @include tablet {
      width: 125px;
    }
    @include desktop {
      width: 136px;
    }
    &:hover,
    &:focus {
      background-color: #ff6b01;
      color: #fff;
    }

    &--active {
      background-color: #ff6b08;
      color: #fff;
      border: 1px solid #ff6b08;
    }
  }
}

.body.dark .modal-film {
  background-color: #292c35;
  color: #fff;
}
