.pagination {
  margin-bottom: 110px;

  &__container {
    max-width: 300px;
    margin: 0 auto;
    @include flex-center;
  }
  &__button {
    text-align: center;
    text-transform: uppercase;
    border: 1 solid black;
    background-color: transparent;
    width: 200px;
    height: 66px;
    padding: 10px 20px;
    border-radius: 5px;

    &:hover,
    &:focus {
      color: #fff;
      box-shadow: none;
      cursor: pointer;
      background-color: #ff6b08;
      border: 1px solid #ff6b08;
    }
  }
  & .is-hidden {
    display: none;
  }
}
