body {
  background-color: #fafafa;
}
body.dark {
  background: #292c35;
  .footer {
    background-color: #111;
    &__container--modal {
      color: #fff;
    }
  }
  .films__info-title {
    color: #fff;
  }
  .films__grid-text {
    color: #fff;
  }
  .modal-film {
    background-color: #484343;
    color: #fff;
    &__close-btn {
      background-color: transparent;
    }
  }
  .info-name {
    color: #fff;
  }
  .modal-film__btn {
    &:hover,
    &:focus {
      background-color: #fff;
      color: #ff6b01;
    }
    &--trailer {
      background-color: #b41f1f;
      color: #fff;
      &:hover,
      &:focus {
        background-color: #fff;
        color: #b41f1f;
      }
    }
  }

  .pagination__button {
    border-color: white;
    color: white;
    &:hover,
    &:focus {
      border-color: #ff6b01;
    }
  }
  .filter__container {
    background-color: #272e34bc;
    color: white;
    border: 1px solid white;
  }
  .label {
    border-color: #b41f1f;
    & .orb {
      background-color: #6b3e3e;
    }
  }
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.label {
  border: 0.5px solid white;
  background-color: #272e34bc;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  position: relative;
  height: 16px;
  width: 35px;
  transform: scale(1.5);
  @include tablet {
    padding: 4px;
    height: 18px;
    width: 37px;
  }
}

.label .orb {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  height: 16px;
  width: 16px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
  @include tablet {
    height: 18px;
    width: 18px;
  }
}

.checkbox:checked + .label .orb {
  transform: translateX(19px);
}

.fa-moon {
  color: #d7dcc2;
  @include font($fs: 13px);
  @include tablet {
    @include font($fs: 14px);
  }
}

.fa-sun {
  color: #f9ff86;
  @include font($fs: 11px);
  @include tablet {
    @include font($fs: 12px);
  }
}
