body {
  background-color: #fafafa;
  transition: background-color 0.5s, color 0.5s;
}
body.dark {
  background: #292c35;
  transition: background-color 0.5s, color 0.5s;
  .footer {
    background-color: #111;
    &__container--modal {
      color: #fff;
    }
  }
  .films__info-title {
    color: #fff;
  }
  .films__grid-text {
    color: #fff;
  }
  .modal-film {
    background-color: #484343;
    color: #fff;
    &__close-btn {
      background-color: #fff;
    }
  }
  .info-name {
    color: #fff;
  }
  .modal-film__btn {
    background-color: #fafafa;
    &:hover,
    &:focus {
      background-color: #ff6b01;
      color: #fff;
    }
  }

  .pagination__button {
    border-color: white;
    color: white;
    &:hover,
    &:focus {
      border-color: #ff6b01;
    }
  }
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.label {
  background-color: #200770;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  position: relative;
  height: 16px;
  width: 35px;
  transform: scale(1.5);
  @include tablet {
    padding: 4px;
    height: 18px;
    width: 37px;
  }
}

.label .orb {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 16px;
  width: 16px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
  @include tablet {
    height: 18px;
    width: 18px;
  }
}

.checkbox:checked + .label .orb {
  transform: translateX(19px);
  @include tablet {
    transform: translateX(20px);
  }
}

.fa-moon {
  color: #90ad1d;
  @include font($fs: 13px);
  @include tablet {
    @include font($fs: 14px);
  }
}

.fa-sun {
  color: #b1ba17;
  @include font($fs: 11px);
  @include tablet {
    @include font($fs: 12px);
  }
}
/* plik html do motywu ciemnego
 <div>
    <input type="checkbox" class="checkbox" id="chk" />
    <label class="label" for="chk">
      <i class="fas fa-moon"></i>
      <i class="fas fa-sun"></i>
      <div class="orb"></div>
    </label>
  </div>
  */
